//Variables de colores
$gris: rgb(234, 237, 237);
$verdeOscuro: rgb(25, 111, 61);
$verdeClaro: rgb(39, 174, 96);
$rojoDanger: rgb(192, 57, 43);
$rojo: rgb(231, 76, 60);
$moradoClaro: rgb(142, 68, 173);
$moradoOscuro: rgb(108, 52, 131);
$negro: black;
$blanco: white;

//Medidas
$phone: 30rem;
$tablet: 30.063rem;
$desktop: 48rem;
$desktopXl: 75rem;